<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.68.0" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.68.0" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.68.0" targetFramework="net461" />
  <package id="Google.Apis.Gmail.v1" version="1.68.0.3427" targetFramework="net461" />
  <package id="MimeKitLite" version="4.7.1" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="2.2.8" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="2.2.8" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.CodeDom" version="7.0.0" targetFramework="net461" />
  <package id="System.Management" version="7.0.2" targetFramework="net461" />
  <package id="System.Memory" version="4.5.5" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Reflection.TypeExtensions" version="4.7.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net461" />
  <package id="System.Text.Encoding.CodePages" version="8.0.0" targetFramework="net461" />
</packages>